version: "3.8"

services:
  api:
    build: .
    container_name: betting_api
    ports:
      - "4000:4000"
    depends_on:
      - db
      - migrate
      - seed
    env_file:
      - .env
    environment:
      - DATABASE_URL=${DATABASE_URL}
    volumes:
      - .:/app
      - /app/node_modules
    restart: always

  migrate:
    build: .
    container_name: betting_migrations
    depends_on:
      - db
    env_file:
      - .env
    command: npx prisma migrate deploy
    volumes:
      - .:/app

  seed:
    build: .
    container_name: betting_seed
    depends_on:
      - migrate
    env_file:
      - .env
    command: npx ts-node ./prisma/seed.ts
    volumes:
      - .:/app

  db:
    image: postgres:15
    container_name: betting_db
    ports:
      - "5432:5432"
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pg_data:/var/lib/postgresql/data
    restart: always

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    ports:
      - "5050:80"
    env_file:
      - .env
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    restart: always

volumes:
  pg_data:
